# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.slnx

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Tesseract data files (large files, need to download separately)
**/tessdata/

# Temporary files
*.exe
*.pdb
*.cache
screen_debug.png

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

